*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: cursive;
    min-height: 100vh;
    width: 100%;
    background-color: white;
    margin: 0;
    position: relative;
    opacity: 100;
}

.inputBox {
    color: white;
    font-size: 20px;
    background-color: black;
    text-align:center;
    border-radius: 8px;
}

#input-form {
    z-index: 4;
    top: 35%;
    left: 30%;
    position: absolute;
}

#quit-cheer {
    z-index: 5;
    top: 35%;
    left: 30%;
    position: absolute;
    height: 200px;
    width: 500px;
    background-color: rgb(12, 15, 15);
    color: white;
    display: none;
    font-size: 40px;
    border-radius: 8px;
}

#quit-bank {
    z-index: 6;
    top: 35%;
    left: 30%;
    position: absolute;
    height: 200px;
    width: 500px;
    background-color: rgb(12, 15, 15);
    color: white;
    display: none;
    font-size: 40px;
    border-radius: 8px;
}

#quit-charity {
    z-index: 7;
    top: 35%;
    left: 30%;
    position: absolute;
    height: 200px;
    width: 500px;
    background-color: rgb(12, 15, 15);
    color: white;
    display: none;
    font-size: 40px;
    border-radius: 8px;
}

.quit > p{
    justify-content: center;
    align-content: center;
    margin-left: 10px;
}


input {
    padding: 5px;
    margin-left: 15px;
}



/* Header */

header {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url('../images/snow.jpeg');
    background-size: 40vh, 100%;
    background-position: center center;
    border-bottom: 10px solid green;
    
}

header .left {
    height: 100%;
    flex-grow: 1;
    padding: 20px;
}

header .middle {
    height: 100%;
    flex-grow: 2;
}

header .right {
    height: 100%;
    flex-grow: 1;
    padding: 20px;
}

.name {
    color: green;
    font-size: 40px;
}

.age {
    color: green;
    font-size: 40px;
}





/* Main Game Area */

.maingame {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../images/xmas.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.bar {
    width: 1%;
  height: 30px;
  background-color: green;
}




.bank {
    height: 50px;
    display: inline-block;
    margin-bottom: 10px;;
    width: 1000px;
    padding-top: 10px;
    padding-left: 20px;
    z-index: 3;

}
.skill {
     height: 50px;
     display: inline-block;
     margin-bottom: 10px;
     width: 750px;
     padding-top: 10px;
     padding-left:20px;
     z-index: 3;
 }

 .rage {
    height: 50px;;
    display: inline-block;
    margin-bottom: 10px;
    width: 500px;
    padding-top: 10px;
    padding-left: 20px;
    z-index: 3;
}






main .avatar {
    display: flex;
    flex-grow: 1;
    z-index: 3;
}

.popstar {
    max-height: 400px;
    max-width: 300px;
    height: auto;
    width: auto;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    max-height: 60px;
    font-size: 15px;
    padding: 5px;
}


.btn #drink {
    margin-left: 20px;
    border: 2px, solid;

}

#mariah {
    position: absolute;
    z-index: 6;
    left: 38%;
    transform: translatey(100%);
}

#krampus {
    opacity: 0;
    transition: 7s linear;
    left: 45%;
}

.fire {
    z-index: 1;
    position: absolute;
    height: 70vh;
    top: 30;
    width: 100%;
    transition: 9s linear;
    opacity: 0;
}

/* Footer */

footer {
    background-color: rgb(07, 01, 02);
    height: 500px;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 10;
    background-image: url('../images/snow.jpeg');
    background-size: 40vh, 100%;
    background-position: center center;
    border-top: 10px solid green;
}

footer .beer {
    height: 100%;
    flex-grow: 1;
    display: inline-block;
}

footer .skill {
    height: 100%;
    flex-grow: 1;
    display:inline-block;
}

footer .center {
    height: 100%;
    flex-grow: 4;
    display: inline-block;
}


.yourPopstar {
    color: green;
    font-size: 40px;
}

/* Animation / Misc */


#name-input {
    background-color: green;
}


@keyframes flash {
   0%, 50%, 100% {
      opacity: 1;
   }
   25%, 75% {
      opacity: 0;
   }
}

#input-button {
    margin-top: 20px;
    margin-left: 10px;
}



 .flash {
   animation-timing-function: ease-in-out;
   animation-name: flash;
   animation-duration: .01s;
   animation-iteration-count: 1200;
 }

 .btn {
    max-height: 60px;
    font-size: 15px;
    padding: 5px;
    border: 5px solid green;
    border-radius: 5%;
 }